[
  {
    "id": "3D78",
    "name": "ANLIKER BRUNNER AG / ФУД АКАДЕМИЯ",
    "description": "Компания «Фуд Академия» поставляет комплексные, законченные решения для индустрии питания и гостеприимства. При поддержке сильных и надежных партнеров «Фуд Академия» предлагает только высококачественные и проверенные временем товары. Все, необходимое Вашему бизнесу, начиная от систем фильтрации воды, которые защитят Ваше оборудование и обеспечат чистой водой и напитками надлежащего качества, заканчивая продукцией для ухода за оборудованием и соблюдением всех гигиенических норм Вы найдете в одном месте.",
    "address": "Проектируемый проезд № 1980, д. 4, Москва, Россия",
    "phone": "(495) 984-34-50",
    "site": "http://www.foodac.ru",
    "image": "ed39ab3f9faf1b124903820d1dfcf8f4.png",
    "brands": [
      "3М",
      "BRUNNER",
      "HENNY PENNY"
    ],
    "equipment_types": [
      "Аксессуары для электромеханического оборудования",
      "Овощерезки",
      "Специальные покрытия",
      "Средства для уборки",
      "Фритюрницы"
    ],
    "activity_types": [
      "Технологическое оборудование"
    ]
  },
  {
    "id": "3D75",
    "name": "BLANCO PROFESSIONAL GMBH + CO KG",
    "description": "Компания BLANCO Professional известна на европейском рынке профессионального оборудования для оснащения предприятий общественного питания и больничного питания с 1925 года. В России бренд BLANCO стал известен в советское время (в 1977 г), когда завод выиграл тендер на поставку оборудования и декоративных фасадных элементов во все рыбные магазины \\\"ОКЕАН\\\". Сегодня в компании успешно развиваются 4 производственных направления: Профессиональные кухни, Медицина, Промышленные компоненты, Железные дороги. BLANCO Professional входит в концерн E.G.O. Group и имеет 3 производственные площадки (Oberderdingen, Leipzig, Frydek-Mistek). Количество сотрудников - более 700 чел. На сегодняшний день открыты представительства в Бельгии, Франции, Великобритании, Австрии и Чехии, а также офис в Швейцарии, Индии, России и Сингапуре.",
    "address": "Flehinger Str.59, 75038 Oberderdingen, Germany, Oberderdingen, Германия",
    "phone": "+49 7045 4481900",
    "site": "http://www.blanco-germany.com/c3/cms/_www/ru/pub/cs_ca.cfm",
    "image": "257b575dd43812e68b1c9ae0842e95eb.jpg",
    "brands": [
      "BLANCO"
    ],
    "equipment_types": [
      "Гастроемкости"
    ],
    "activity_types": [
      "Технологическое оборудование"
    ]
  }
]
